[www]
user = www-data
group = www-data

listen = /run/php/php-fpm.sock

listen.owner = www-data
listen.group = www-data

pm = ondemand

pm.max_children = {{ ansible_processor_vcpus }}
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.process_idle_timeout = 20s;

php_value[memory_limit] = 256M
