domains = {{ vhostfqdn }}
rsa-key-size = {{ certbot_rsa_key_size }}
# server = {{ certbot_server }}
email = {{ mail_info }}
text = True
authenticator = webroot
webroot-path = {{ vhostspath }}/{{ vhostfqdn }}
